---
Language:                     Cpp
# BasedOnStyle:                                   LLVM
AccessModifierOffset:                           -2
AlignAfterOpenBracket:                          true
AlignConsecutiveAssignments:                    false
AlignConsecutiveDeclarations:                   false
AlignEscapedNewlinesLeft:                       false
AlignOperands:                                  true
AlignTrailingComments:                          true
AllowAllParametersOfDeclarationOnNextLine:      true
AllowShortBlocksOnASingleLine:                  false
AllowShortCaseLabelsOnASingleLine:              false
AllowShortFunctionsOnASingleLine:               Inline
AllowShortIfStatementsOnASingleLine:            false
AllowShortLoopsOnASingleLine:                   false
# NOTE: deprecated
#AlwaysBreakAfterDefinitionReturnType:           All
AlwaysBreakAfterReturnType:                     TopLevelDefinitions
AlwaysBreakBeforeMultilineStrings:              false
AlwaysBreakTemplateDeclarations:                true
BinPackArguments:                               false
BinPackParameters:                              false
BraceWrapping:
    AfterClass:             true
    AfterControlStatement:  true
    AfterEnum:              true
    AfterFunction:          true
    AfterNamespace:         true
    AfterStruct:            true
    AfterUnion:             true
    BeforeCatch:            true
    BeforeElse:             true
    IndentBraces:           false
    # NOTE: although these are documented for clang-format 6.0, they do work in 5.0
    # NOTE: but the documented SplitEmptyFunctionBody does not work in clang-format 5.0
    SplitEmptyFunction:     true
    SplitEmptyRecord:       true
    SplitEmptyNamespace:    true
BreakBeforeBinaryOperators:                     None
BreakBeforeBraces:                              Custom
BreakBeforeInheritanceComma:                    false
BreakBeforeTernaryOperators:                    true
BreakConstructorInitializers:                   BeforeColon
BreakStringLiterals:                            true
ColumnLimit:                                    100
CommentPragmas:                                 '^ IWYU pragma:'
CompactNamespaces:                              false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth:              2
ContinuationIndentWidth:                        4
Cpp11BracedListStyle:                           true
DerivePointerAlignment:                         false
FixNamespaceComments:                           true
ForEachMacros: [ BOOST_FOREACH, BOOST_REVERSE_FOREACH, REVERSE_FOREACH ]
# NOTE: this option is enabled/disabled with SortIncludes, which is not (yet) fully compatible
IncludeCategories:
    - Regex: '^"'
      Priority: 10
    - Regex: '^<boost/'
      Priority: 20
    - Regex: '\.h>$'
      Priority: 40
    - Regex: '^<'
      Priority: 30
IncludeIsMainRegex: '(Test)?$'
IndentCaseLabels:                               false
IndentWidth:                                    2
IndentWrappedFunctionNames:                     false
KeepEmptyLinesAtTheStartOfBlocks:               false
MaxEmptyLinesToKeep:                            1
NamespaceIndentation:                           None
PenaltyBreakBeforeFirstCallParameter:           19
PenaltyBreakComment:                            60
PenaltyBreakFirstLessLess:                      120
PenaltyBreakString:                             1000
PenaltyExcessCharacter:                         1000000
PenaltyReturnTypeOnItsOwnLine:                  0
PointerAlignment:                               Left
# NOTE: since clang-format is plainly dumb and cannot understand human language,
#       re-flowing comments would most likely be very frustrating
ReflowComments:                                 false
# NOTE: this option is not yet configurable to be compatible with ATSEv2 include order
#       see https://bugs.llvm.org/show_bug.cgi?id=32271
SortIncludes:                                   true
SortUsingDeclarations:                          true
SpaceAfterCStyleCast:                           true
SpaceAfterTemplateKeyword:                      true
SpaceBeforeAssignmentOperators:                 true
SpaceBeforeParens:                              ControlStatements
SpaceInEmptyParentheses:                        false
SpacesBeforeTrailingComments:                   1
SpacesInAngles:                                 false
SpacesInCStyleCastParentheses:                  false
SpacesInContainerLiterals:                      true
SpacesInParentheses:                            false
SpacesInSquareBrackets:                         false
Standard:                                       Cpp11
TabWidth:                                       4
UseTab:                                         Never
...
